#footer {
  text-align: top;
  background-color: black;
  color: white;

}

#jpg{
  padding-left: 80%
}
#jpg1{
  padding-left: 80%
}
#png{
  padding-right: 25%
}
#png1{
  padding-right: 25%
}
#jkl{
  padding-left: 20%
}
h2 {
  text-align: center;
  text-emphasis-position: above;
  font-size: 10px;

}
#pop{

}
#burka{
list-style-type: none;
padding-left: 20%
text-size: 10px
font-size: 20%
}
ul {
  list-style-type: none;
  padding-left: 50%

}


#rty{
  padding-left: 5%

}
#pap{
  padding-right: 10%;

}
#lll{
  padding-right: 15%
}
#aaa{
  padding-right: 10%
}
#pole{

 height: auto;
  padding-left: 5%

}
#contact{

  padding-right: 6%
  padding-left: 0%
}
