#nav {
  float: right;
  margin-right: 20px;
}

#nav ul li {
  list-style: none;
  float: left;
  padding: 30px;
  font-size: 30px;
}

#logo {
  padding: 30px;



}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family:Times New Roman,cursive;
  font-style: italic;
  font-size: 100pt;
}

h2 {
  text-align: center;
  color: white;
  padding-bottom: 30px;
  font-family: Gloria Hallelujah, cursive;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 0px;
    padding-right: 15px;
    padding-left: 15px;
    }

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#a {
  border: 0px solid black;
  border-right: 2px solid black;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom:1px solid black;
  }

#e {
  border: 0px solid lightgrey;
  border-right: 2px solid black;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom:1px solid black;
}

#i {
  border: 0px solid lightgrey;
  border-right: 2px solid black;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom:1px solid black;
}

#o {
  border: 0px solid lightgrey;
  border-right: 2px solid black;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom:1px solid black;
}

#u {
  border: 0px solid lightgrey;
  border-right: 2px solid black;
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom:1px solid black;
}
